.btn-3 {
  cursor: pointer;
  margin: 10px;
  height: 45px;
  font-size: 20px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: rgba(165, 184, 190, 0.555);
  width: 200px;
  color: black;
}
.btn-3:hover {
  background-color: black;
  color: #ffff;
}
.btn-1 {
  cursor: pointer;
  margin: 10px;
  height: 45px;
  font-size: 20px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: rgba(165, 184, 190, 0.555);
  width: 200px;
  color: black;
}
.btn-1:hover {
  background-color: black;
  color: #ffff;
}
.btn-2 {
  cursor: pointer;
  margin: 10px;
  height: 45px;
  font-size: 20px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: rgba(165, 184, 190, 0.555);
  width: 200px;
  color: black;
}
.btn-2:hover {
  background-color: black;
  color: #ffff;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  color: #545454;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-container {
  background-color: #1D92B8;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 58px;
}
.nav-container h1 {
  padding: 20px;
  font-size: 20px;
  color: #FFFFFF;
}
@media (max-width: 500px) {
  .nav-container {
    position: relative;
    flex-direction: row;
  }
}
.nav-container .menu {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  margin-right: 50px;
}
@media (max-width: 500px) {
  .nav-container .menu {
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-color: #1D92B8;
    top: 57px;
  }
}
.nav-container .menu a {
  padding: 20px;
  color: #FFFFFF;
  text-decoration: none;
}
@media (max-width: 500px) {
  .nav-container .menu a {
    border-bottom: solid black 1px;
    display: flex;
    flex-direction: column;
  }
}
.nav-container .menu a:hover {
  background: #166e8c;
}
.menu-button {
  width: 80px;
  height: 80px;
  display: none;
  cursor: pointer;
}
@media (max-width: 500px) {
  .menu-button {
    display: block;
  }
}
.menu.menu--open {
  display: block;
}
header img {
  width: 100px;
  height: 100px;
}
footer {
  display: block;
  text-align: center;
  padding: 20px;
  background-color: #2F454E;
}
footer p {
  color: white;
}
.container {
  width: 100%;
  margin: 0 auto;
  background-color: #fafafa;
}
.hero-picture {
  width: 100%;
  display: flex;
}
.logo {
  width: 100px;
  height: 100px;
}
img {
  width: 100%;
  height: auto;
}
.hero-info-blurb {
  width: 100%;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.hero-info-blurb h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: whitesmoke;
}
.hero-info-blurb p {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}
.hero-container {
  box-sizing: border-box;
  width: 100%;
  background-image: url(../img/beauty-in-nature-cold-daylight-2089799.jpg);
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 150px 10px;
}
.main-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
.main-container .info-panels {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.main-container .info-panels img {
  width: 50%;
  height: 10%;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition-duration: 1s;
}
.main-container .info-panels img:hover {
  transform: scale(1.1);
}
@media (max-width: 500px) {
  .main-container .info-panels img {
    width: 80%;
    height: auto;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
  }
}
@media (max-width: 500px) {
  .main-container .info-panels {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main-container .card {
  padding: 10px;
  margin: 20px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  background-color: #ffff;
}
.main-container .card h2 {
  padding: 10px;
  font-size: 30px;
}
.main-container .card p {
  font-size: 20px;
  margin-top: 40px;
}
.main-container .card hr {
  width: 50%;
}
@media (max-width: 500px) {
  .main-container .card {
    width: 80%;
    height: auto;
    order: 2;
    margin-top: 0;
    border-radius: 0 0 5px 5px;
  }
}
.quote-spacer {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 40px;
  background-color: #2F454E;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.quote-spacer p {
  font-size: 20px;
  color: white;
}
.container {
  width: 100%;
  margin: 0 auto;
  background-color: #fafafa;
}
header {
  position: relative;
}
.header-pic img {
  width: 100%;
  height: 300px;
}
.header-pic-text {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/australia-conifers-dirt-road-1008739.jpg);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-pic-text h1 {
  font-size: 40px;
  color: white;
}
.about-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.about-container .team-panel {
  padding: 10px;
  margin: 20px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 290px;
  border-radius: 5px;
  background-color: #ffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about-container .team-panel h2 {
  padding: 10px;
}
.about-container .team-panel .img-container {
  width: 250px;
  overflow: hidden;
  border-radius: 50%;
  height: 250px;
  margin: 0 auto;
}
.about-container .team-panel .img-container img {
  width: 100%;
  height: auto;
}
.about-container .team-panel i {
  font-size: 60px;
  color: #2F454E;
}
footer {
  display: block;
  text-align: center;
  padding: 20px;
  background-color: #2F454E;
}
footer p {
  color: white;
}
