.container {
  margin: 0 auto;
}
.hero-picture {
  width: 100%;
  height: 400px;
  display: flex;
  margin-bottom: 20px;
}
.hero-picture img {
  width: 100%;
  height: auto;
}
.hero-info-blurb {
  font-size: 30px;
  display: block;
  align-content: center;
}
.btn-1 {
  display: block;
  cursor: pointer;
  margin: 20px;
  height: 45px;
  font-size: 20px;
  border: 2px black;
  border-radius: 10px;
  background-color: lightgrey;
  width: 200px;
  color: black;
}
.btn-1:hover {
  background-color: black;
  color: lightgrey;
}
.btn-2 {
  display: block;
  cursor: pointer;
  margin: 20px;
  height: 45px;
  font-size: 20px;
  border: 2px black;
  border-radius: 10px;
  background-color: lightgrey;
  width: 200px;
  color: black;
}
.btn-2:hover {
  background-color: black;
  color: lightgrey;
}
.info-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightblue;
}
.info-panel img {
  width: 50%;
  height: 50%;
  margin: 10px;
  border: 10px;
}
.text-content {
  padding: 20px;
  width: 50%;
}
.text-content h2 {
  padding: 10px;
}
footer {
  display: block;
  text-align: center;
  padding: 20px;
  background-color: #A2CD60;
}
