.nav-container {
  background: #1D92B8;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: #1D92B8;
}
nav {
  padding: 20px;
  font-size: 15px;
  align-items: center;
}
nav a {
  padding: 20px;
  text-decoration: none;
}
