@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";

.nav-container {
    background-color: #68CCEA;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    
    nav {
        padding: 20px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        text-align: center;
    
        a {
            padding: 20px;
            text-decoration: none;
        }

        @media @mobile {
            display: flex;
            flex-direction: column;
        }
    }    
}

