.nav-container {
    background: #1D92B8;
    display: flex;
    flex-direction: column; 
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #68CCEA;

    nav {
        padding: 20px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        text-align: center;
    
        a {
            padding: 20px;
            text-decoration: none;
        }
    }    
}

